!!! 5
html(lang="en")
  head
    title= title
    - if(env == "development")
      script(data-main='scripts/app', src='scripts/require-jquery.js')
    - if(env == "production")
      script(src='scripts/app.min.js')
  body
    h1 Diplomacy

    #diplomacyapp
      #log

      input(id="new-logitem", placeholder="enter here to log", type="text")