!!! 5
html(lang="en")
  head
    title= title
    - if(env == "development")
      script(data-main='scripts/app', src='scripts/vendor/require-jquery.js')
    - else if(env == "production")
      script(src='scripts/app.min.js')
    - else if(env == "test")
      script(src='scripts/test.min.js')
      link(rel="stylesheet", href="scripts/test/lib/qunit.css", type="text/css", media="screen")

    link(href="/stylesheets/app.css", media="only screen", rel="stylesheet", type="text/css")
    link(href="/stylesheets/screen.css", media="only screen and (min-device-width: 1025px)", rel="stylesheet", type="text/css")
    link(href="/stylesheets/mobile.css", media="only screen and (max-device-width: 480px)", rel="stylesheet", type="text/css")
    link(href="/stylesheets/tablet.css", media="only screen and (min-device-width: 481px) and (max-device-width: 1024px)", rel="stylesheet", type="text/css")

    link(rel="apple-touch-icon", href="./images/icon.png")
    link(rel="apple-touch-startup-image", href="./images/startup.png")

    link(rel="apple-touch-startup-image", href="./images/startup_ipad_landscape.png", media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)")

    link(rel="apple-touch-startup-image", href="./images/startup_ipad_portrait.png", media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)")

    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")



  body(ontouchmove="event.preventDefault();", onorientationchange="updateOrientation();")
    -if(env == "test")
      #test(style="position:absolute; top:0; left:0;z-index:200")
        h1#qunit-header QUnit Test Suite
        h2#qunit-banner
        #qunit-testrunner-toolbar
        h2#qunit-userAgent
        ol#qunit-tests
    #diplomacyapp
      #lobby
        p This is the lobby.
        #add-game-box
          form
            input#new-game-input(placeholder="new game name", type="text")
            input#create-game(type="submit")
          #gameslist
      #game(style="display: none")
        #map

        #side
          log
            #eventlog
            input#new-event(placeholder="enter text here", type="text")
          #chat
            #messages
  
            #input-box
              form
                input#chat-input(placeholder="chat here", type="text", name="chat-input")
                input#submit(type="submit")
            
            p Connected Users:
            #users
            a#exit-game(href="#") go to lobby
            a#delete-game(href="#") delete game
