!!! 5
html(lang="en")
  head
    title= title
    - if(env == "development")
      script(data-main='scripts/app', src='scripts/vendor/require-jquery.js')
    - if(env == "production")
      script(src='scripts/app.min.js')
  body
    h1 Diplomacy

    #diplomacyapp
      #eventlog

      input(id="new-event", placeholder="enter text here", type="text")