html, body
  margin 0
  padding 0
  overflow hidden
  width 100%
  height 100%
#map
  background no-repeat bottom left
  -webkit-user-select none
  position absolute
  overflow hidden
#side
  position absolute
  background #ccc

log
  display:none
.player_selected
  text-decoration: line-through
