html, body
  width 1024px
  height 748px
  position relative
#map
  width 768px
  height 748px
  bottom 0
  left 0
  background-image url(/images/diplomacy_map.png)

#side
  height 100%
  width 256px
  top 0
  right 0



c_aus = #d33847 //r
c_fra = #e66e1d //o
c_ger = #e6ce0e //y
c_rus = #65af3d //g
c_ita = #00a1a3 //b
c_tur = #824eff //v
c_eng = #aeaeae //g

text_l = 26px
text_m = 20px
text_s = 16px

#diplomacy
  background #000
  font-family Oxygen
  height 100%

.lobby
  color #fff

  a
    color #fff
    text-decoration none

  .other_games, .my_games
    float left
    width 384px
    overflow hidden
  .games
    padding 10px

    .game
      clear both
      

      .game-link
        display block
        .info
          width 180px
          height 120px
          border-left 10px #000 solid
          float left
          padding-left 10px
          margin-bottom 10px

          .turn
            font-size text_m
          .status
            font-size text_s
          .message
            font-size text_s

      .players
        width 180px
        float left

  .dash
    position absolute
    background #1a1a1a
    top 0
    right 0
    width 256px
    height 100%

    .user
      padding 10px
      position relative
      height 50px
      font-size text_m
      line-height 40px
      .level
        font-size text_s
        position absolute
        top 10px
        right 10px
      img
        float left
        margin-right 10px
      .progress
        width 176px
        height 10px
        background #000
        position absolute
        right 10px
        bottom 10px
        .bar
          background #fff
          -webkit-transition width 0.6s ease
          width 50%
          height 100%

    ul.actions
      padding 10px
      margin 0
      background #333
      list-style none
      li
        a
          display block
          background no-repeat left center
          font-size text_m
          padding 10px 0 10px 50px
          margin 0 10px 
          line-height 25px

      .matchmaker a
        background-image url(/images/icons/matchmake.png)
      .host a
        background-image url(/images/icons/host.png)

    ul.remote_players
      background #4d4d4d
      margin 0
      padding 10px
      list-style none
      overflow hidden
      height 100%
      li
        float left
        margin 0
        padding 0
        height 25px
        margin 0 5px 5px 0


.pregame
  color #fff

  .player_selected
    text-decoration line-through

  .power
    width 50px
    height 50px
    float left
    margin 0 10px 10px 0
    line-height 12px
    text-indent -1px
    text-decoration none
    .box
      width 50px
      height 50px
      border-top 5px #000 solid


.player-image
  width 50px
  height 50px
  float left
  margin 0 10px 10px 0
  line-height 12px
  text-indent -1px
  img
    border-top 5px #000 solid

.Aus.bg 
  background-color c_aus
.Fra.bg
  background-color c_fra
.Ger.bg
  background-color c_ger
.Rus.bg
  background-color c_rus
.Ita.bg
  background-color c_ita
.Tur.bg
  background-color c_tur
.Eng.bg
  background-color c_eng

.Aus, .Aus img
  border-color c_aus !important
  color c_aus !important
.Fra, .Fra img
  border-color c_fra !important
  color c_fra !important
.Ger, .Ger img
  border-color c_ger !important
  color c_ger !important
.Rus, .Rus img
  border-color c_rus !important
  color c_rus !important
.Ita, .Ita img
  border-color c_ita !important
  color c_ita !important
.Tur, .Tur img
  border-color c_tur !important
  color c_tur !important
.Eng, .Eng img
  border-color c_eng !important
  color c_eng !important