

@media (orientation:portrait)
  #map
    width 100%
    height 748px
    bottom 256px
    left 0
    background-image url(/images/diplomacy_map.png)

  #side
    height 256px
    width 100%
    bottom 0
    left 0


@media (orientation:landscape)
  #map
    width 768px
    height 100%
    bottom 0
    left 0
    background-image url(/images/diplomacy_map.png)

  #side
    height 100%
    width 256px
    top 0
    right 0

